@media screen and (max-width: 800px), (orientation: portrait) {
  .navbar {
    height: 15vh;
  }

  .navbar_Links {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .logo {
    display: flex;
    color:black;
    font-size: 1.6rem;
    font-weight: 300;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
  }

  .navbar_Links_Right {
    color: black;
    text-transform: uppercase;
    font-size: 0.9rem;
    height: 50%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) and (orientation: landscape) {
  .navbar {
    height: 13vh;
  }

  .navbar_Links {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .logo {
    display: flex;
    color:black;
    font-size: 1.6rem;
    font-weight: 300;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: center;
    border-right: 1px black solid;
  }

  .navbar_Links_Right {
    color: black;
    text-transform: uppercase;
    font-size: 0.9rem;
    height: 100%;
    width: 30%;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
  .navbar {
    height: 12vh;
  }

  .navbar_Links {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .logo {
    display: flex;
    color:black;
    font-size: 1.8rem;
    font-weight: 300;
    height: 100%;
    width: 22%;
    align-items: center;
    justify-content: center;
    border-right: 1px black solid;
  }

  .navbar_Links_Right {
    color: black;
    text-transform: uppercase;
    font-size: 0.9rem;
    height: 100%;
    width: 20%;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }
}

.navbar{
  width: 100%;
  background-color: white;
}

.navbar_Links {
  display: flex;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar_logo{
  width: 100%;
}

.navbar_Links_Right{
  color: black;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar_Links_Right_Link{
  transition: all ease-in-out 0.3s;
  padding-bottom: 4px;
}

.navbar_Links_Right_Link:hover{
  display: flex;
  align-items: center;
  height: 90%;
  margin-bottom: 4px;
  transition: all ease-in-out 0.3s;
  color: #005DFF;
  border-bottom: 5px #005DFF solid;
}