@import url("https://use.typekit.net/zim4oin.css");


@media only screen and (min-width: 1024px) and (max-width: 1600px) {
    *, *::before, *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'futura-pt', sans-serif;
    }

    /* Header & Banner */

    .headBan {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }


    /* _banner */

    .banner {
        height: 100%;
        width: 100%;
        background: url(../../../images/background.jpg
        ) no-repeat top center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10vw;
        color: rgba(0, 174, 255, 1);
        z-index: -10;
        position: fixed;

        .title {
            width: 500px;
            position: relative;
            color: rgba(0, 174, 255, 1);
            text-transform: uppercase;
            text-align: left;
            margin-right: 30%;
            font-size: 2rem;

            h1 {
                font-weight: 500;
            }
        }
    }

    /* header */

    .header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 60px;
        width: calc(100vw - (100vw - 100%));
        padding: 0 10vw;
        color: rgba(0, 174, 255, 1);
        z-index: 12;
        transition: .4s ease-in-out;

        a {
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;
        }

        img  {
            margin: 5px 0;
            width: 75px;
            height: 50px;
        }

        .nav-links {
            display: flex;
            list-style: none;
        

            .nav-link {
            transition: 
                opacity .4s ease-in-out,
                transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                a {
                    margin: .2rem;
                    padding: 1rem .5rem;
                }
                a:hover {
                    opacity: 0.5;
                    transition: opacity ease-in-out .3s;
                }
            }
        }

        .menu-icon {
            position: relative;
            padding: 26px 10px;
            cursor: pointer;
            z-index: 1;
            display: none;

            &_line {
                display: block;
                position: relative;
                background: black;
                height: 2px;
                width: 20px;
                border-radius: 4px;
                transition: background .8s ease;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    border-radius: 4px;
                    background: black;
                    transition: background .8s ease;
                }
                &::before {
                    transform: translateY(-5px);
                }
                &::after {
                    transform: translateY(5px);
                }
            }
        }
        .menu-btn {
            position: absolute;
            top: -1000px;

            &:focus ~ .menu-icon {
                .menu-icon_line {
                    &::before {
                        transform: translateY(-7px);
                    }
                    &::after {
                        transform: translateY(7px);
                    }
                }
            }
        }

        &.scrolled {
            height: 60px;
            background:rgba(255, 255, 255, 1);
            position: fixed;
        }
    }
}