@import url("https://use.typekit.net/zim4oin.css");

@media screen and (max-width: 500px) and (orientation: portrait){
    *, *::before, *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  
  body {
    font-family: 'futura-pt', sans-serif;
}


/* Header & Banner */

  .headBan {
    height: 100vh;
    width: calc(100vw - (100vw - 100%));
    display: flex;
    flex-direction: column;
}

/*_banner*/

  .banner {
    height: 100%;
    width: 100%;
    background: url(../../../images/background_mobile.jpg) no-repeat center top;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 5vw;
    z-index: -10;
    position: fixed;

    .title {
        width: 300px;
        position: relative;
        color: rgba(0, 174, 255, 1);
        font-weight: 400;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: left;

        h1 {
            font-weight: 500;
        }

        h4 {
            font-size: 1.5rem;
            font-weight: 400
        }
    }
}

/* header */

.header {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-top: 10px;
  width: calc(100vw - (100vw - 100%));
  padding: 0 10vw;
  color: rgba(0, 174, 255, 1);
  z-index: 12;
  transition: .4s ease-in-out;

  a {
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
  }

  .logo {
    z-index: 10;
    img  {
      margin-top: 5px;
      width: 75px;
      height: 50px;
    }
  }
  
}

/* menu button */

.menu-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  z-index: 10;
}

.menu-icon_line{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  width: 20px;
  height: 2px;
  margin: 26px 10px;
  cursor: pointer;
  background: rgb(0, 174, 255);
  transition: all .4s ease-in-out;

  &::before,
  &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background: rgb(0, 174, 255);
      transition: all .4s ease-in-out;
  }
  
  &::before {
    transition: all .4s ease-in-out;
    transform: translateY(-5px);

  }

  &::after {
    transition: all .4s ease-in-out;
    transform: translateY(5px);
  }
}

/* _animation */

.menu-icon {
  
  &.open {
    
    .menu-icon_line {
      transition: all .2s ease-in-out;
      background: transparent;
      box-shadow: none;
    }

    .menu-icon_line::before {
        transition: all .4s ease-in-out;
        transform: rotate(45deg);
        background: rgb(255, 255, 255);
    } 

    .menu-icon_line::after {
        transition: all .4s ease-in-out;
        transform: rotate(-45deg); 
        background: rgb(255, 255, 255);
    } 
  }
}

/* _menu */

.header {

  .menu-btn {
  position: absolute;
  top: -10000px;
  }

  .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: white;
    background: #0c2340;
    transition: opacity .8s .3s;
    z-index: 5;

    .nav-link {
      opacity: 0;
      transform: translateX(100%);
      width: 100%;
      text-align: left;

      a {
        display: block;
        padding: .2rem 2rem;
        font-weight: 400;
      } 
    }
  }

  .menu-btn:checked ~ .nav-links {
    opacity: 1;

    .nav-link {
      opacity: 1;
      transform: translateX(0);
      transition:  
        opacity .4s ease-in-out .5s;

      &:nth-of-type(1) {
        transition-delay: .6s;
      }
      &:nth-of-type(2) {
        transition-delay: .7s;
      }
      &:nth-of-type(3) {
        transition-delay: .8s;
      }
      &:nth-of-type(4) {
        transition-delay: .9s;
      }
      &:nth-of-type(5) {
        transition-delay: 1s;
      }
    } 
  }
}

  &.scrolled {
    height: 60px;
    background:rgba(255, 255, 255, 1);
    position: fixed;
  }
}